.ammoIcon {
  width: 28px;
  height: 20px;
}

.elementIcon {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  margin: 0;
}

.weaponTypeIcon {
  width: 100%;
  height: auto;
  filter: invert(1) !important;
}

.weaponTypeIconSpecial {
  width: 100%;
  height: auto;
  filter: invert(84%) sepia(13%) saturate(1628%) hue-rotate(70deg) brightness(103%) contrast(91%) !important;
}

.weaponTypeIconHeavy {
  width: 100%;
  height: auto;
  filter: invert(77%) sepia(46%) saturate(6773%) hue-rotate(218deg) brightness(102%) contrast(104%) !important;
}
